body {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 2px solid black;
  padding: 12px;
}

span {
  width: 10rem;
  justify-content: center;
}

footer {
  margin-top: 6rem;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 8px solid black;
}

.description {
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;
  height: 100px;
}

.time-block {
  text-align: center;
  border-radius: 18px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #b1aaaa;
  color: white;
}

.present {
  background-color: #a50000;
  opacity: 0.7;
  color: white;
}

.future {
  background-color: #449144;
  opacity: 0.7;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #51c3f8;
  color: rgb(209, 223, 250);
}

.saveBtn i:hover {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}
